* {
    padding: 0;
    margin: 0;
}

header{
    height: 130px;
    background-color: #85CDF5;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header a{
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    color: #333333;
}

header a:hover{
    text-decoration: underline;
    
}

/* ----------------------------------------------------MAIN------------------------------------------ */
main {
    height: 648px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.formulario{
    width: 960px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infobasica {
    width: 960px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nome {
    width: 868px;
    height: 84px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.nome p {
    font-size: 25px;
    font-weight: 500;
}

.nome input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #333333;
    /* padding-left: 5px; */
}

.nome input:focus{
    outline: none;
}

.idade {
    width: 72px;
    height: 84px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.idade p {
    font-size: 25px;
    font-weight: 500;
}

.idade input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #333333;
    /* padding-left: 5px; */
}

.idade input:focus{
    outline: none;
}

.email {
    width: 960px;
    height: 84px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.email p {
    font-size: 25px;
    font-weight: 500;
}

.email input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #333333;
    /* padding-left: 5px; */
}

.email input:focus{
    outline: none;
}

main button {
    width: 209px;
    height: 60px;
    font-size: 30px;
    font-weight: 600;
    color: white;
    background-color: #2C5680;
    border-width: 1px;
    border-color: #333333;
}


/* --------------------------------------------------------------------------------------------- */
hr {
    height: 5px;
    border: none;
    background: linear-gradient(to right, #DEB959, #2C5680);
}
/* ------------------FOOTER------------------------------------------------ */

footer {
    height: 270px;
    display: flex;
    flex-direction: row;
    background-color: #333333;
    align-items: center;
    justify-content: center;
}

footer iframe {
    width: 250px;
    height: 168px;
    padding-right: 30px;
}

footer div {
    height: 168px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 70px;
}

.contato {
    width: 378px;
    height: 102px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.contato div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-right: 0px;
}

.contato div img {
    width: 19px;
    height: 19px;
    margin-right: 8px;
}

.contato div p{
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
}

.quemsomos{
    width: 144px;
    height: 30px;
    background-color: #DEB959;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 0px;
}

.quemsomos a {
    font-size: 23px;
    font-weight: 700;
    color: #353535;
    text-decoration: none;
}

footer span {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 33px;
}

footer span p {
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 400;
    padding-bottom: 10px;
}