* {
    padding: 0;
    margin: 0;
}

header{
    height: 130px;
    background-color: #85CDF5;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header a{
    position: relative;
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    color: #333333;
    padding-bottom: 5px;
    font-family: 'Darker Grotesque', sans-serif;
}
header a.navlink::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: #333333;
    transition: width 0.5s ease-in-out;
}

header a.navlink:hover::after {
    width: 100%;
}
/* -------------------------------------MAIN----------------------------- */


main {
    height: 1035px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Darker Grotesque', sans-serif;
}

.grupo {
    width: 761px;
    height: 512px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.formulario {
    width: 958px;
    height: 874px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    border-style: solid;
    border-width: 4px;
    border-color: #333333;
}

.formulario h1{
    font-size: 50px;
    font-weight: 600;
    color: #000000;
}

.infobasica{
    width: 761px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nome {
    width: 564px;
    height: 87px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.nome p {
    font-size: 30px;
    font-weight: 500;
    color: black;
}

#salvar{
    cursor: pointer;
}

input, textarea{
    font-size: 20px;
}

.nome input {
    height: 39px;
    background-color: #E6E6E6;
    border-width: 1px;
    border-color: #000000;
}

.idade {
    width: 177px;
    height: 87px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.idade p {
    font-size: 30px;
    font-weight: 500;
    color: black;
}

.idade input{
    height: 39px;
    background-color: #E6E6E6;
    border-width: 1px;
    border-color: #000000;
}

.link {
    width: 761px;
    height: 89px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.link p {
    font-size: 30px;
    font-weight: 500;
    color: black;
}

.link input {
    height: 39px;
    background-color: #E6E6E6;
    border-width: 1px;
    border-color: #000000;
}

.descricao {
    display: flex;
    flex-direction: column;
    width: 761px;
    height: 298px;
    justify-content: space-evenly;
}

.descricao p {
    font-size: 30px;
    font-weight: 500;
    color: #000000;
}

.descricao textarea {
    resize: none;
    height: 250px;
    background-color: #E6E6E6;
    border-width: 1px;
}

main button {
    width: 209px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 400;
    color: white;
    background-color: #2C5680;
    border: 1px;
    border-color: #333333;
}





/* ------------------------------------------------------------------------ */
hr {
    height: 5px;
    border: none;
    background: linear-gradient(to right, #DEB959, #2C5680);
}
/* ------------------FOOTER------------------------------------------------ */


footer {
    height: 270px;
    display: flex;
    flex-direction: row;
    background-color: #333333;
    align-items: center;
    justify-content: space-evenly;
}

footer iframe {
    width: 250px;
    height: 168px;
    padding-right: 30px;
}

footer div {
    height: 168px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 70px;
}

.esquerda {
    display: flex;
    flex-direction: row;
}

.contato {
    width: 378px;
    height: 102px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.contato div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-right: 0px;
}

.contato div img {
    width: 19px;
    height: 19px;
    margin-right: 8px;
}

.contato div p{
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
}

.quemsomos{
    width: 144px;
    height: 30px;
    background-color: #DEB959;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 0px;
}

.quemsomos a {
    font-size: 23px;
    font-weight: 700;
    color: #353535;
    text-decoration: none;
}

.patas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 33px;
}

.patas p {
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 400;
    padding-bottom: 10px;
}